p{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 18px;
}

div{
    display:flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content:space-around;
    margin: 50px;
    flex-wrap: wrap;
}
body{
    background-color: black;
}