@if (user){
    <mat-card appearance="outlined">
        <mat-card-header>
            <h1>Detalles del usuario {{ user.id }}</h1>
        </mat-card-header>
        <mat-card-content>
            <div class="cuerpo">
                <p>Nombre: {{ user.name }}</p>
                <p>Nombre de usuario: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Teléfono: {{ user.phone }}</p>
                <p>Calle: {{ user.address.street }}</p>
                <p>Suite: {{ user.address.suite }}</p>
                <p>Ciudad: {{ user.address.city }}</p>
                <p>Código postal: {{ user.address.zipcode }}</p>
                <p>Latitud: {{ user.address.geo.lat }}</p>
                <p>Longitud: {{ user.address.geo.lng }}</p>        
            </div>
        </mat-card-content>
    </mat-card>
}
