@if (user){
    <mat-card appearance="outlined">
        <mat-card-header>
            <h1>Detalles del usuario {{ user.id }}</h1>
        </mat-card-header>
        <mat-card-content>
            <div class="cuerpo">
                <p>{{ 'USER.NOMBRE' | translate }}</p>
                <p>{{ 'USER.NOMBREUSUARIO' | translate }} {{ user.username }}</p>
                <p>{{ 'USER.EMAIL' | translate }} {{ user.email }}</p>
                <p>{{ 'USER.PHONE' | translate }} {{ user.phone }}</p>
                <p>{{ 'USER.CALLE' | translate }} {{ user.address.street }}</p>
                <p>{{ 'USER.SUITE' | translate }} {{ user.address.suite }}</p>
                <p>{{ 'USER.CIUDAD' | translate }} {{ user.address.city }}</p>
                <p>{{ 'USER.CODIGOPOSTAL' | translate }} {{ user.address.zipcode }}</p>
                <p>{{ 'USER.LATITUD' | translate }} {{ user.address.geo.lat }}</p>
                <p>{{ 'USER.LONGITUD' | translate }} {{ user.address.geo.lng }}</p>        
            </div>
        </mat-card-content>
    </mat-card>
}
