<form >
    <p>{{ 'CONTACT.FORM' | translate }}</p>
    <div class="campo">
        <label>{{ 'CONTACT.NAME' | translate }}</label>
        <input type="text" placeholder="Introduce tu nombre">        
    </div>

    <div class="campo">
        <label >{{ 'CONTACT.EMAIL' | translate }}</label>
        <input type="email" placeholder="Introduce tu correo electronico">
    </div>

    <div class="campo">
        <label >{{ 'CONTACT.MESSAGE' | translate }}</label>
        <textarea placeholder="Escribe tu mensaje"></textarea>
    </div>

</form>
<app-footer></app-footer>