<mat-card appearance="outlined">
  <mat-card-header>
    <h1>{{ 'CONTACT.TITULO' | translate }}</h1>

  </mat-card-header>
  <mat-card-content>
    <form class="campo">
     <mat-form-field class="campo">
       <mat-label>{{ 'CONTACT.NOMBRE' | translate }}</mat-label>
       <input matInput placeholder="Introduce tu nombre" type="text">
     </mat-form-field>  

     <mat-form-field class="campo">
       <mat-label>{{ 'CONTACT.EMAIL' | translate }}</mat-label>
       <input matInput placeholder="Introduce tu correo electronico" type="email">
     </mat-form-field>  

     <mat-form-field class="campo">
       <mat-label>{{ 'CONTACT.MENSAJE' | translate }}</mat-label>
       <textarea matInput placeholder="Escribe tu mensaje"></textarea>
     </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>