<mat-card appearance="outlined">
<form class="campo">
  <mat-form-field class="campo">
    <mat-label>{{ 'CONTACT.NAME' | translate }}</mat-label>
    <input matInput placeholder="Introduce tu nombre" type="text">
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>{{ 'CONTACT.EMAIL' | translate }}</mat-label>
    <input matInput placeholder="Introduce tu correo electronico" type="email">
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>{{ 'CONTACT.MESSAGE' | translate }}</mat-label>
    <textarea matInput placeholder="Escribe tu mensaje"></textarea>
  </mat-form-field>
</form>

</mat-card>

<app-footer></app-footer>