<h1>{{ 'ABOUT.TITULO' | translate }}</h1>
<p>{{ 'ABOUT.TEXTO' | translate }}</p>

<mat-divider></mat-divider>

<div>
    <mat-form-field>
        <mat-label>{{ 'ABOUT.INPUT' | translate }}</mat-label>
        <input matInput [value]="filtroNombre()" placeholder="{{ 'ABOUT.INPUTPLACEHOLDER' | translate }}" type="text" (input)="actualizarFiltroNombre($event)">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'ABOUT.SELECT' | translate }}</mat-label>
        <mat-select [value]="filtroCiudad()" placeholder="{{ 'ABOUT.SELECTPLACEHOLDER' | translate }}" (selectionChange)="actualizarFiltroCiudad($event)">
            <mat-option value="">{{ 'ABOUT.SELECTPLACEHOLDER' | translate }}</mat-option>
            <mat-option value="Gwenborough">Gwenborough</mat-option>
            <mat-option value="Wisokyburgh">Wisokyburgh</mat-option>
            <mat-option value="McKenziehaven">McKenziehaven</mat-option>
            <mat-option value="South Elvis">South Elvis</mat-option>
            <mat-option value="Roscoeview">Roscoeview</mat-option>
            <mat-option value="South Christy">South Christy</mat-option>
            <mat-option value="Howemouth">Howemouth</mat-option>
            <mat-option value="Aliyaview">Aliyaview</mat-option>
            <mat-option value="Bartholomebury">Bartholomebury</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="resetFiltros()">{{ 'ABOUT.RESET' | translate }}</button>
    <table mat-table [dataSource]="usuariosFiltrados()" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let user">{{user.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'ABOUT.NOMBRE' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{ user.name }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>{{ 'ABOUT.EMAIL' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>{{ 'ABOUT.USERNAME' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{user.username}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>{{ 'ABOUT.PHONE' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{user.phone}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas" [routerLink]="['/user', row.id]"></tr>
    </table>

</div>


