table{
    width: 100%;

}
.mat-mdc-header-row {
  background-color: #810081;
  color: white;
}

.mat-mdc-header-cell {
  color: white;
}

.mat-mdc-row:hover {
  background-color: #8b0b8b3a;
  cursor: pointer;
}

table {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
}

body{
    background-color: black;
}

h1,p{
  margin-left: 16px;
}