
mat-toolbar {
    background-color: #810081;
  justify-content:flex-start;
  gap: 40px;
  border: 2px solid rgba(255, 255, 255, 0.253);
}
a {
  color: white;
  font-size: 18px;
}
button {
  color: white;
  font-size: 18px;
}
.spacer {
  flex: 1 1 auto;
}

