img{
    width: 300px;
    height: 200px;
    border: #ffffff solid 2px;
    border-radius: 10px;

}

p{
    font-size: 18px;
    color: white;
}

mat-card{
    background-color: #810081;
    width: 350px;
    margin: 20px auto;
    align-items: center;
    border: #ffffff solid 1px;
}